html {
	font-size: 16px;
}

html,
body {
	margin: 0;
	padding: 0;
}

canvas {
	display: block;
	user-select: none;
}

body {
	background-color: black;
	color: white;
}

/* Small screens. */
@media only screen and (max-width: 750px) {
	html {
		font-size: 12px;
	}
}
